@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"); 

html {
    font-family: "Quicksand", sans-serif;
}

body {
    background: rgb(242 174 48 / 30%);
    left: 50%;
    padding: 25px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1,
h2 {
    color: #7a0202;
}

h2 {
    font-size: 20px;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    background: #ff983d;
    border-radius: 50%;
    color: #4a0404;
    font-weight: bold;
    line-height: 25px;
    height: 25px;
    padding: 10px;
    text-align: center;
    transition: 1s;
    width: 30px;
}

.bingo_previous-numbers {
    margin: 0 auto 25px;
    width: 925px;
}

::-webkit-scrollbar {
    display: none;
}

/* Nåværende tall-visning */
h1 {  
    font-size: 70px; 
    transition: all 1s;
}

.number {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 30px auto;
    padding: 10px;
    width: 200px;
}

/* UI komponenter - knapper */
button { 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    font-family: "Quicksand", sans-serif; 
    font-weight: bold;
    height: 40px;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s; 
    width: 150px;
}

.number_shuffle {
    background: rgb(79 210 186 / 75%);
    color: #01341E;
}

.number_shuffle:focus, 
.number_shuffle:hover {
    background: rgb(79 210 186);
}

.number_restart {
    background: rgb(242 46 82);
    color: #ffffff;
}

.number_restart:focus, 
.number_restart:hover {
    background: rgb(255, 0, 47);
}

/* Knappegrupper - talltrekk */
.number_generator {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

/* Knappegrupper - timer */
.display {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.display_clock {
    background: rgb(255 166 0 / 25%);
    color: #7a0202;
    text-align: center;
    pointer-events: none;
    width: 100px;
} 

.display_alt-btns {
    background: rgb(79 210 186 / 50%);
    color: #01341E;
    width: 200px;
} 

/* BINGO REKKER */
.bingo {
    background: rgb(255 166 0 / 20%);
    border-radius: 15px;
    margin: 0 auto 50px;
    width: 925px;
}

.bingo_numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.column {
    align-self: start;
    text-align: center;
    margin: 15px auto 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.column:last-child {
    margin-bottom: 20px;
}

/* fra js for-loop */
.bingo_number {
    background: #FFA600;
    color: #4a0404;
    letter-spacing: 1px;
    width: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    transition: .5s;
}

/* trekte tall */
.drawn {
    background: #B60000;
    color: #FFFFFF;
    transition: .5s;
}

@media (max-width: 991px) {
    body { 
    left: 0;
    padding: 25px;
    position: unset;
    top: 0;
    transform: none;
    }
    button, 
    .display button {
        width: 100%;
    }
    .bingo, 
    .display, 
    .number_generator {
        width: 379px;
    }
    .bingo_numbers {
        flex-direction: row;
    }
    .bingo_previous-numbers  {
        width: 375px;
    }
    .column {
        flex-direction: column;
        margin: 15px;
    }
    .display {
        margin: 0 auto;
    }
    .number_generator {
        margin: 0 auto 30px;
    }
}
